body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("images/tokyo.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#game-container {
    background-color:#c1c0e7fb;
    max-width: 700px;
    font-family:cursive;
    font-size: 25px;
    min-width: 700px;
    margin-right: 95px;
    min-height:10px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#Start {
    margin-top: 450px;
    min-height: 30px;
    min-width: 500px;
}



#button1, #button2 {
    font-family:cursive;
    font-size: 25px;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff5c33
    ;
    color: #fff;
    cursor: pointer;
}


#image-container {
    text-align: center;
    margin-top: 20px;
}



#image {
    
    max-width: 780px;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers the content vertically */
    margin-top: 420px;
    
  }
  

.large-button {
    padding: 80px 160px;
    font-size: 40px;
    background-color:antiquewhite;
  }
.large-button:hover {
    background-color:dimgray /* New background color on hover */
  }  
  #button1:hover, #button2:hover {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #531506
    ;
    color: #fff;
    cursor: pointer;
}  
